table{
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid rgb(140,140,140);
    font: 
    16px "Open Sans",
    Helvetica,
    Arial,
    sans-serif;
}
table,
th,
td{
    border: 1px solid black;
}
table{
    overflow: auto;
    width: 100%;
    max-width: 400px;
    height: 240px;
    display: block;
    margin: 0 auto;
    border-spacing: 0;
}
th,
td{
    position: sticky;
    top: 0;
    /* background: #fff; */
    vertical-align: bottom;
}
th:last-child,
td:last-child{
    border-right-width: 0;
}
tr:last-chile td{
    border-bottom-width: 0;
}
tbody{
    white-space: nowrap;
}
caption{
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}
thead >tr
{
    background-color: rgb(228,240,245);
}
tfoot>tr{
    border-top: 2px dashed rgb(140 140 140);
    background-color: rgb(228,240,245);
    text-align: right;
    font-weight: bold;
}

thead > tr:nth-of-type(2){
    border-bottom: 2px solid rgb(140 140 140);
}
thead > tr:last-of-type > th:nth-of-type(1) {
    background-color: rgb(225 255 225);
}
thead > tr:last-of-type > th:nth-of-type(2) { 
    background-color: rgb(255 225 225);
}
tbody > tr > th:first-of-type {
    text-align:  left;
    background-color:  rgb(225 229 244);
}
tbody > tr:nth-of-type(even){
    background-color: rgb(237 238 242);
}
tbody > tr > td:last-of-type{
    text-align: right;
}
td,th{
    border: 1px solid rgb(160,160,160);
    padding: 4px 6px;
}

th{
    vertical-align: bottom;
}
